
.IndexWrapper {
	height: 100%;
	width: 100%;
}
#name {
	margin: auto;
	margin-top: 36vh;
	text-align: center;
	font-size: 7vmin;
}
.text {
	margin: auto;
	margin-bottom: 0%;
	margin-top: 0%;
	font-family: Georgia;
}
.borderTop {
	border-top: groove;
	width: 80%;
	font-family: Arial Black;
	color: gray;
}
#jacob {
	font-weight: bold;
}