html, body {
	font-family: "Courier New";
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	margin: 0%;
	letter-spacing: .15vw;
}
#skills ul {
	position: fixed;
	bottom: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#skills li {
    float: left;
}
#skills li a {
    border-radius : 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
	margin-left: 20px;
	width: 15vw;
    text-decoration: none;
}
#skills li:hover {
    cursor: pointer;
}
#skills li a:hover {
	background-color: green;
}
#headerWrapper {
    padding: 7px 0;
	padding-left: 1.5vw;
	width: 96vw;
}
#siteTitle {
	text-decoration: none;
    list-style-type: none;
    padding: 7px 16px;
	position: absolute;
	z-index:1;
	font-size: 3vmin;
	font-family: "calluna-sans",Helvetica,Helvetica Neue,Arial;
	color: gray;
}
.skillsTitle {
	color: gray !important;
}
.Navi ul {
	right: 0;
	top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
	padding-right: 10px;
    overflow: hidden;
}
.Navi li {
    float: right;
}
.Navi li a {
	font-weight: bold;
    border-radius : 5px;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
	border-right: groove;
}
.Navi li a:hover {
	color: grey;
}
#navSkills li a {
	color: gray;
}
#navSkills li a:hover {
	color: white;
}
#mercuryLink {
	background-color: #e39e1c;
}
#earthLink {
	background-color: #2d7ddc;
}
#marsLink {
	background-color: #c1440e;
}
.stars {
  background-color: black;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  animation: slideStars 2000s linear infinite;
  
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}
@keyframes slideStars {
    from { background-position: 0 0; }
    to { background-position: -40000px -40000px; }
}
.center {
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.Popup {
	background-color: white;
	padding: 5%;
	font-size: 2vmin;
	width: max-content;
	position: absolute;
	top: 4vmin;
	text-align: center;
	visibility: hidden;
	z-index: 100;
}
#sun {
    background-color : #ba8f27;
    border-radius : 50%;
    box-shadow : 0 0 5vmin red;
	width: 10vmin;
    height: 10vmin;
}
#marsArea {
    height : 4vmin;
    width : 4vmin;
	position: absolute;
	animation: rotMars 40s linear infinite;
}
#mars {
    background-color : #c1440e;
    border-radius : 100%;
    height : 2.1vmin;
    width : 2.1vmin;
}
#marsArea:hover {
	animation-play-state: paused !important;
}
#marsArea:hover .Popup {
	visibility: visible !important;
}
#mercuryArea {
    height : 4.5vmin;
    width : 4.5vmin;
	position: absolute;
	animation: rotMercury 16s linear infinite;
}
#mercury {
	background-color: #e39e1c;
    border-radius : 100%;
    height : 3.7vmin;
    width : 3.7vmin;
}
#mercuryArea:hover {
	animation-play-state: paused !important;
}
#mercuryArea:hover .Popup {
	visibility: visible !important;
}
#earthContainer {
    border-radius : 100%;
    height : 5vmin;
    width : 5vmin;
	animation: rotEarth 25s linear infinite;
}
#earthArea {
    border-radius : 100%;
    height : 5vmin;
    width : 5vmin;
}
#earth {
    background-color: #2d7ddc;
    border-radius: 100%;
    height: 4vmin;
    width: 4vmin;
}
#earthContainer:hover {
	animation-play-state: paused !important;
}
#earthArea:hover .Popup {
	visibility: visible !important;
}
#moonArea {
    border-radius : 100%;
    height : 2.5vmin;
    width : 2.5vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	animation: rotMoon 5s linear infinite;
}
#moon {
    background-color : #b2b2b2;
    border-radius : 100%;
    height : 1vmin;
    width : 1vmin;
	transform: translate(-50%, -50%);
	z-index: 10000;
}
#moonArea:hover {
	animation-play-state: paused;
}
#moonArea:hover #moon{
	transform: scale(1.5);
	transition-duration: 100ms;
}
@keyframes rotMercury {
	from {
		transform: rotate(0deg)
		           translate(20vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(20vmin) 
		           rotate(360deg);
	}
}
@-webkit-keyframes rotMercury {
  from {
		transform: rotate(0deg)
		           translate(20vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(20vmin) 
		           rotate(360deg);
	}
}
@-moz-keyframes rotMercury {
  from {
		transform: rotate(0deg)
		           translate(20vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(20vmin) 
		           rotate(360deg);
	}
}
@-o-keyframes rotMercury {
  from {
		transform: rotate(0deg)
		           translate(20vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(20vmin) 
		           rotate(360deg);
	}
}
@keyframes rotEarth {
	from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@-webkit-keyframes rotEarth {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@-moz-keyframes rotEarth {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@-o-keyframes rotEarth {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@keyframes rotMoon {
	from {
		transform: rotate(0deg)
		           translate(4vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(4vmin) 
		           rotate(-360deg);
	}
}
@-webkit-keyframes rotMoon {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@-moz-keyframes rotMoon {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@-o-keyframes rotMoon {
  from {
		transform: rotate(0deg)
		           translate(30vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(30vmin) 
		           rotate(-360deg);
	}
}
@keyframes rotMars {
	from {
		transform: rotate(0deg)
		           translate(40vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(40vmin) 
		           rotate(-360deg);
	}
}
@-webkit-keyframes rotMars {
  from {
		transform: rotate(0deg)
		           translate(40vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(40vmin) 
		           rotate(-360deg);
	}
}
@-moz-keyframes rotMars {
  from {
		transform: rotate(0deg)
		           translate(40vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(40vmin) 
		           rotate(-360deg);
	}
}
@-o-keyframes rotMars {
  from {
		transform: rotate(0deg)
		           translate(40vmin)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(40vmin) 
		           rotate(-360deg);
	}
}
.indexWrapper {
	width: 100vw;
	height: 100vh;
	background-image: url("Background5.jpg");
}
#name {
	margin: auto;
	margin-top: 36vh;
	text-align: center;
	font-size: 7vmin;
}
.text {
	margin: auto;
	margin-bottom: 0%;
	margin-top: 0%;
	font-family: Georgia;
}
.borderTop {
	border-top: groove;
	width: 90vmin;
	font-family: Arial Black;
	color: gray;
}
#jacob {
	font-weight: bold;
}
#CSharp {
	width: 60vw;
	height: 60vh;
	margin: auto;
	margin-top: 15vh;
	background-color: #e39e1c;
}
#Java {
	width: 60vw;
	height: 60vh;
	margin: auto;
	margin-top: 15vh;
	background-color: #2d7ddc;
}
#HTMLCSS {
	width: 60vw;
	height: 60vh;
	margin: auto;
	margin-top: 15vh;
	background-color: #c1440e;
}
.subdivWrapper {
	padding: 20px;
}
.subdivText {
	width: 60%;
	margin: auto;
	margin-top: 7vmin;
	font-size: 3vmin;
}
.arrow {
  border: solid black;
  border-width: 0 10px 10px 0;
  height: 15px;
  width: 15px;
  padding: 5px;
  display: inline-block;
  
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow:hover {
	cursor: pointer;
	border: solid white;
	
	border-width: 0 10px 10px 0;
	height: 15px;
	width: 15px;
	padding: 5px;
	display: inline-block;
  
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
#htmlPic {
	width: 15vmin;
	height: 12vmin;
	padding-right: 20px;
	padding-top: 20px;
}
#javaPic {
	width: 12vmin;
	height: 20vmin;
	margin-right: 20px;
	margin-top: 20px;
	background-color: white;
}
#csharpPic {
	width: 18vmin;
	height: 12vmin;
	margin-right: 20px;
	margin-top: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: monospace;
	resize: none;
	font-size: 1.5em;
}
#submitButton[type=submit] {
    background-color: #00cc00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: monospace;
	font-size: 1.5em;
	width: 100%;
	margin: auto;
}
#submitButton[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	max-width: 50em;
	margin: auto;
	font-family: monospace !important;
}
#contactTitle {
	text-align: center;
    box-sizing: border-box;
    margin-top: 6px;
	font-family: monospace;
	resize: none;
}
#contactFormWrapper {
    border-radius: 5px;
    padding: 20px;
	width: 50%;
	max-width: 50em;
	margin: auto;
	margin-top: 5%;
	font-family: monospace !important;
}
#contactWrapper {
	height: 100vh;
	width: 100vw;
	background-image: url("Background3.jpg");
}
#meWrapper {
	height: 100vh;
	width: 100vw;
	background-image: url("Background3.jpg");
}
.accordion {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 5vmin;
    transition: 0.4s;
	text-align: center;
}

.panel {
    transition: 0.4s;
	text-align: center;
	font-size: 2vmin;
	margin: auto;
    padding: 18px 20%;
    display: none;
    background-color: white;
}
.panel p{
	margin: 0;
	color: white;
}
#development {
	background-color: #00BFFF;
}
#development:hover {
	background-color: #00ace6;
}
#panDev {
	background-color: #00BFFF;
}
#professional {
	background-color: #ff4000;
}
#professional:hover {
	background-color: #e63a00;
}
#panPro {
	background-color: #ff4000;
}
#personal {
	background-color: #81ee18;
}
#personal:hover {
	background-color: #6fd510;
}
#panPer {
	background-color: #81ee18;
}